[AZ GENERAL]
tenant = {{ tenant }}

[AZ_LOG_ANALYTICS_WORKSPACE]
MyfirstLogAnalytics_workspace_id = {{ workspace_id }}
MyfirstLogAnalytics_primary_key = {{ primary_key }}
powerstatistics_workspace_id = {{ powerstatistics_workspace_id }}
powerstatistics_primary_key = {{ powerstatistics_primary_key }}

[AZ SERVICE PRINCIPAL LOGANALYTICSREADER]
service_principal_loganalyticsreader_id = {{ service_principal_loganalyticsreader_id }}
service_principal_loganalyticsreader_secret = {{ service_principal_loganalyticsreader_secret }}

[HOME_WIZARD_P1]
hwip = {{ hwip }}
